.admin-question-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
  padding: 30px;
  background-color: var(--bg-primary-d);
  border-radius: 10px;
}

.question-item-id {
  text-align: center;
  margin: 25px 0px;
  padding: 5px 0px;
  background-color: var(--btn-secondary);
  border-radius: 10px;
}

.question-item-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
}

.question-item-required {
  color: var(--btn-secondary);
}

.question-item-control {
  margin: 5px 0px 5px 0px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(199, 199, 199);
}

.question-item-note {
  font-size: small;
  font-weight: lighter;
}

.question-item-radio-group {
  display: flex;
  justify-content: center;
}

.question-item-radio-option {
  margin-right: 20px;
}

.question-item-radio-label {
  padding-left: 4px;
}

.question-item-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.question-item-button {
  width: 100px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  padding: 15px 35px 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-primary);
}

.question-item-button-modify {
  background-color: var(--btn-third);
}

.question-item-button-modify:hover {
  background-color: var(--btn-third-d);
}

.question-item-button-delete {
  background-color: var(--btn-secondary);
}

.question-item-button-delete:hover {
  background-color: var(--btn-secondary-d);
}

@media screen and (max-width: 1200px) {
  .question-item-radio-group {
    flex-direction: column;
  }

  .question-item-radio-option {
    margin-right: 0px;
  }
}
