.game-question-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  padding: 25px;
  border-radius: 10px;
}

.game-question-head {
  width: 100%;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: var(--bg-alt);
  text-align: center;
}

.game-question {
  width: 100%;
  text-align: center;
  margin: 35px 0px;
}

.game-answers-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: start;
  align-items: center;
}
